.moderation__userrow {
    cursor: pointer;
}
.moderation__userinfo__change {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.moderation__userinfo-item {
    width: 250px;
    margin-bottom: 20px;
}
.moderation__userinfo__savebutton {
    margin: 0 auto;
}
.moderation__userinfo__savebutton__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}